<router-outlet></router-outlet>

<div class="barra">
  <button class="nav-button" [routerLink]="['/conductor']" type="button">CONDUCTOR</button>
  <button class="nav-button"  type="button">BUS</button>
  <button class="nav-button"  type="button">RUTA</button>
  <button class="nav-button"  type="button">HORARIO</button>
</div>
<div class="table">
  <table>
    <thead>
    <tr>
      <th class="encabezado"><b>Check</b></th>
      <th class="encabezado"><b>Nombre</b></th>
      <th class="encabezado"><b>Apellido</b></th>
      <th class="encabezado"><b>Cedula</b></th>
      <th class="encabezado"><b>Telefono</b></th>
      <th class="encabezado"><b>Direccion</b></th>
      <th class="encabezado"><b>Editar</b></th>
    </tr>
    </thead>
    <tr>
      <td class="impares"></td>
      <td class="impares"></td>
      <td class="impares"></td>
      <td class="impares"></td>
      <td class="impares"></td>
    </tr>
    <tr>
      <td class="pares">Persa</td>
      <td class="pares">Mario</td>
      <td class="pares">1 anios</td>
      <td class="pares">12/12/2022</td>
      <td class="pares">Si</td>
    </tr>
    <tr>
      <td class="impares">Siames</td>
      <td class="impares">Ares</td>
      <td class="impares">5 anios</td>
      <td class="impares">05/02/2019</td>
      <td class="impares">Si</td>
    </tr>
    <tr>
      <td class="pares">Calico</td>
      <td class="pares">Missi</td>
      <td class="pares">7 meses</td>
      <td class="pares">01/01/2024</td>
      <td class="pares">Si</td>
    </tr>
    <tr>
      <td class="impares">Criollo</td>
      <td class="impares">Max</td>
      <td class="impares">4 anios</td>
      <td class="impares">07/15/2020</td>
      <td class="impares">No</td>
    </tr>
  </table>
</div>



